@import url("global.css");

.timeline {
    display: flex;
    align-items: center;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.circle::after {
    content: attr(data-year);
    text-align: center;
}

.line {
    width: 100px;
    height: 5px;
}

.hovercard {
    display: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: max-content;
    z-index: 1;
    white-space: nowrap;
}

.circle:hover + .hovercard {
    display: block;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}