/* Background Colors */

.bg-darkest-gray {
    background-color: #232323;
}

.bg-darker-gray {
    background-color: #323232;
}

.bg-dark-gray {
    background-color: #595959;
}

.bg-gray {
    background-color: #C8C8C8;
}

.bg-light-gray {
    background-color: #E2E2E2;
}

.bg-lighter-gray {
    background-color: #FDFCFA;
}

.bg-white {
    background-color: #FFFFFF;
}

/* Text Colors */

.text-darkest-gray {
    color: #232323;
}

.text-darker-gray {
    color: #323232;
}

.text-dark-gray {
    color: #595959;
}

.text-gray {
    color: #C8C8C8;
}

.text-light-gray {
    color: #E2E2E2;
}

.text-lighter-gray {
    color: #FDFCFA;
}

.text-white {
    color: #FFFFFF;
}