.button {
    border: none;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.8rem;
    width: 140px;
    height: 50px;
}

.card {
    border: none;
    border-radius: 1rem;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card .card-image {
    width: 100%;
    height: 70%;
    border-radius: 1rem;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-content {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.list .list-item {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.list .list-item .list-item-image {
    width: 100px;
    height: 100px;
}

.list .list-item .list-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.list .list-item .list-item-text {
    width: 100%;
    height: 100%;
}

/*
.list .list-cards {
    display: flex;
    align-items: center;
    justify-content: column;
    gap: 20px;
}

.list .list-cards .list-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}

.list .list-cards .list-card .card-image {
    width: 50%;
    height: 30%;
}

.list .list-cards .list-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list .list-cards .list-card .card-content {
    text-align: start;
    width: 100%;
    height: 30%;
}
*/