/* 
    * Format for HTML elements:
    * BACKGROUND COLOR - TEXT COLOR - TEXT SIZE - TEXT WEIGHT - TEXT ALIGNMENT - PADDING - MARGIN - GAP
    <div class="bg-darkest-gray text-white text-xxl text-bold text-center padding-md margin-md gap-md"></div>
*/
*/

/* Background Colors */

.bg-darkest-gray {
    background-color: #232323;
}

.bg-darker-gray {
    background-color: #323232;
}

.bg-dark-gray {
    background-color: #595959;
}

.bg-gray {
    background-color: #C8C8C8;
}

.bg-light-gray {
    background-color: #E2E2E2;
}

.bg-lighter-gray {
    background-color: #FDFCFA;
}

.bg-white {
    background-color: #FFFFFF;
}

/* Text Colours */

.text-darkest-gray {
    color: #232323;
}

.text-darker-gray {
    color: #323232;
}

.text-dark-gray {
    color: #595959;
}

.text-gray {
    color: #C8C8C8;
}

.text-light-gray {
    color: #E2E2E2;
}

.text-lighter-gray {
    color: #FDFCFA;
}

.text-white {
    color: #FFFFFF;
}

/* Text Sizes */

.text-xxs {
    font-size: 14px;
}

.text-xs {
    font-size: 16px;
}

.text-sm {
    font-size: 18px;
}

.text-md {
    font-size: 20px;
}

.text-lg {
    font-size: 22px;
}

.text-xl {
    font-size: 24px;
}

.text-xxl {
    font-size: 40px;
}

.text-xxxl {
    font-size: 50px;
}

/* Text Weights */

.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: 600;
}

.text-bolder {
    font-weight: 800;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Padding */

.padding-xs {
    padding: 8px;
}

.padding-sm {
    padding: 16px;
}

.padding-md {
    padding: 24px;
}

.padding-lg {
    padding: 28px;
}

.padding-xl {
    padding: 32px;
}

/* Margin */

.margin-xs {
    margin: 8px;
}

.margin-sm {
    margin: 16px;
}

.margin-md {
    margin: 24px;
}

.margin-lg {
    margin: 36px;
}

/* Gap */

.gap-sm {
    margin-bottom: 16px;
}

.gap-md {
    margin-bottom: 24px;
}

.gap-lg {
    margin-bottom: 36px;
}