@import url("global.css");

/* Landing */

.landing-section {
    width: 100%;
    height: 750px;
    display: flex;
}

.landing-section .landing-intro {
    position: relative;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.landing-section .landing-intro h1 {
    margin-left: 10%;
    margin-bottom: -10px;
}

.landing-section .landing-intro p, .landing-section .landing-intro a {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 25%;
}

/* Landing carousel */

.landing-section .landing-carousel {
    width: 55%;
    height: 100%;
}

.landing-section .landing-carousel .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section .landing-carousel .carousel .carousel-item {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.landing-section .landing-carousel .carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}